@tailwind base;
@tailwind components;
@tailwind utilities;


.__rtl_lang {
    direction: rtl;
}



@layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;
      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;
      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;
      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;
      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;
      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;
      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;
      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;
      --radius: 0.5rem;
      --chart-1: 12 76% 61%;
      --chart-2: 173 58% 39%;
      --chart-3: 197 37% 24%;
      --chart-4: 43 74% 66%;
      --chart-5: 27 87% 67%;
    }
  
    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;
      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;
      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;
      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;
      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;
      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;
      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;
      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
      --chart-1: 220 70% 50%;
      --chart-2: 160 60% 45%;
      --chart-3: 30 80% 55%;
      --chart-4: 280 65% 60%;
      --chart-5: 340 75% 55%;
    }
  }
  
  @layer base {
    /* * {
      @apply border-border;
    } */
    body {
      @apply bg-background text-foreground;
    }
  }


  




  
/* :root {
    --color-text-primary: #000;
    --color-background: #f5f5f5;
    --color-primary: #0070f3; 
  }
  
  [data-theme='dark'] {
    --color-text-primary: #212121;
    --color-background: #fff;
  }
  
  [data-color='blue'] {
    --color-primary: #0070f3;
  }
  
  [data-color='green'] {
    --color-primary: #28a745;
  }
  
  [data-color='red'] {
    --color-primary: #ff0000;
  }
  
  body {
    color: var(--color-text-primary);
    background-color: var(--color-background);
  }
  
  .primary-color {
    color: var(--color-primary);
  } */


/* .light{
    --color-text-primary: #000000;
    --color-text-secondary: #333333;
    --color-background-primary: #f5f5f5;
    --color-background-secondary: #9394a5;
}

.dark{
    --color-text-primary: #ffffff;
    --color-text-secondary: #cccccc;
    --color-background-primary: #212121;
    --color-background-secondary: #383838;
}

.green{
    --color-primary: #00ff00;
    --color-secondary: #008000;
}

.blue{
    --color-primary: #0000ff;
    --color-secondary: #000080;
}

.purple{
    --color-primary: #800080;
    --color-secondary: #800080;
}

.pink{
    --color-primary: #ff00ff;
    --color-secondary: #800080;
}

.orange{
    --color-primary: #ff8c00;
    --color-secondary: #ff69b4;
}

.yellow{
    --color-primary: #ffff00;
    --color-secondary: #ffa500;
} */

/* .light {
    --color-text-primary: #484b6a;
    --color-text-secondary: #d2d3db;
    --color-text-inverted: #fafafa;
    --color-primary: #fafafa;
    --color-secondary-1: #484b6a;
    --color-secondary-2: #9394a5;
    --color-inverted: #e4e5f1;
}

.dark {
    --color-text-primary: #b9b9b9;
    --color-text-secondary: #333333;
    --color-text-inverted: #000000;
    --color-primary: #000000;
    --color-secondary-1: #b9b9b9;
    --color-secondary-2: #e1e1e1;
    --color-inverted: #2a272a;
}

.rose {
    --color-text-primary: #f5f5f5;
    --color-text-secondary: #ffe6d9;
    --color-text-inverted: #ff5159;
    --color-primary: #ff0000;
    --color-secondary-1: #ffffff;
    --color-secondary-2: #d7d7d7;
    --color-inverted: #ff5159;
}

.purple {
    --color-text-primary: #ffffff;
    --color-text-secondary: #c7d2fe;
    --color-text-inverted: #4f46e5;
    --color-primary: #4338ca;
    --color-secondary-1: #ffffff;
    --color-secondary-2: #eef2ff;
    --color-inverted: #6366f1;
} */


body {
    background: var(--color-background-primary);
}